<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="container">Consultas SGC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row style="margin-top: 50px;">
    <ion-col size="4" push="4">
      <app-input [info]="{placeholder: 'Digite la ciudad a consultar'}"></app-input>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col push="5" size="2">
      <ion-button class="container" (click)="consultar()">Consultar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10" push="1" style="border: 2px solid black;">
      
    </ion-col>
  </ion-row>
</ion-content>